<h4 class="text-center"> Login </h4>
<form class="form mt-4" (ngSubmit)="login()">
  <div class="mb-2">
    <input
      class="form-control"
      placeholder="Username"
      name="username"
      [(ngModel)]="username"
      #userCamp = "ngModel"
      required
    />
    <app-message message="User is Invalid" *ngIf="userCamp.invalid && userCamp.touched"></app-message>
  </div>
  <div class="mb-2">
    <input
      type="password"
      class="form-control"
      placeholder="Password"
      name="password"
      [(ngModel)]="password"
      #passwordCamp = "ngModel"
      required
    />
    <app-message message="Password is Mandatory" *ngIf="passwordCamp.invalid && passwordCamp.touched"></app-message>
  </div>
  <div class="d-grid gap-2">
    <button type="submit" class="btn btn-primary">Login</button>
  </div>
</form>
<p class="text-center">
  Don't have an account? <a [routerLink]="['newuser']">Sign up</a>
</p>
